:root {
  --background-color: #5D646D;
  --timetable-background: #222222;
  --timetable-text-color: white;
  --timetable-train-text-color: #FFC966;
  --timetable-train-background-color: #68583C;
}

body {
  background-color: var(--background-color);
}

.board {
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: var(--timetable-background);
  color: var(--timetable-text-color);
  font-size: 1rem;
  margin: 0.5rem;
}

#timetable {
  width: 72rem;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: 5rem 28rem 27rem 12rem;
  user-select: none;
}

#timetable > p {
  padding: 0.1rem;
  margin: 0;
  text-align: left;
}

#timetable > p.train {
  font-size: 1.2rem;
  overflow: hidden;
  background-color: var(--timetable-train-background-color);
  color: var(--timetable-train-text-color);
  cursor: pointer;
}

#announcements {
  width: 40rem;
}

#announcements > p {
  margin: 0;
}

#announcements > p.footer {
  margin-top: 1rem;
}

#announcements > #description {
  font-size: 1rem;
  white-space: pre-line;
  background-color: var(--timetable-train-background-color);
  color: var(--timetable-train-text-color);
  min-height: 15rem;
  padding: 0.1vw;
}

#time {
  float: left;
}

#time > #timedisplay {
  font-size: 5rem;
  background-color: var(--timetable-train-background-color);
  color: var(--timetable-train-text-color);
  margin: 0;
  padding: 1rem;
}
